<h1>About Blocitoff</h1>
<p>
	Blocitoff allows you to create your own self-destructing to-do lists.
</p>

<h3>Why would I want to do that?</h3>
<p>
	To-do lists are notorious for collecting junk: to-do items that you want to remember, but are not very important and thus get consistently put-off. To address the problem of to-do list clutter, we'll create an application that we'll call Blocitoff. Blocitoff will aim to keep to-do lists manageable by automatically deleting to-do items that have not been completed after 7 days. The hypothesis is that if the to-do item is not important enough to be completed in 7 days, it doesn't belong on your to-do list.
</p>


<h3>Features</h3>
<ul>
	<li>Sign up for a free account, or use your Facebook, Google, Linkedin or Twitter account to sign in.</li>
	<li>Create a single to-do list.</li>
	<li>Add multiple to-do items to your list.</li>
	<li>Mark to-do items as complete, which removes the item from your list.</li>
	<li>See how many days are left before each to-do item will be automatically deleted.</li>
	<li>To-do items will be automatically deleted 7 days after they are created.</li>
</ul>
