<div class="container">
  <div class="page-header">
    <h1>{{ list.listName }}</h1>
  </div>
  <form role="form" data-ng-submit="addListItem(newListItem)">
    <div class="row">
      <div class="input-group">
        <input type="text" data-ng-model="newListItem" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <p></p>

  <div class="list-group list-items">
  	<a class='list-group-item' data-ng-repeat='item in list.listItems'>
  		<div data-item-id="{{ item._id }}">
    		<span>
          <div>
            {{ item.text }}
            <div class='list-item-expires'>Expires: <span data-time-remaining="" data-item-created="{{ item.created }}"></span></div>
          </div>
        </span>
      	<span title='Remove List Item' class='fa fa-times-circle fa-inverse pull-right' data-ng-click='removeListItem("{{ item._id }}")'></span>
    	</div>
  	</a>
  </div>
</div>
