<div class='container'>
	<div class='col-sm-6 col-sm-offset-3'>
		<form>
			<div class='form-group'>
				<label>Username</label>
				<input type='text' class='form-control' name='username' data-ng-model='username' required autofocus>
			</div>
			<div clas='form-group'>
				<label>Password</label>
				<input type='password' class='form-control' name='password' data-ng-model='password' required>
			</div>
			<br/>
			<div class='form-group'>
				<button data-ng-click='login()' class='btn btn-primary btn-lg'>Log In</button>
				<button data-ng-click='signup()' class='btn btn-info btn-lg'>Sign Up</button>
			</div>
			<br/>
			<div class='form-group'>
				<label>Or login with...</lable><br/>
				<a class="btn btn-danger" data-ng-click='loginOauth("google")' href="">
					<span class="fa fa-google-plus"></span> Google
				</a>
			</div>
		</form>
	</div>
</div>