<div class="container">
  <div class="page-header">
    <h1>My Todo Lists</h1>
    <button class='btn btn-primary btn-lg pull-right'>
      <span class='fa fa-plus'></span> New List
    </button>
  </div>
  <div class="list-group list-menu">
    <a href='' class="list-group-item">
        My First List
        <span title='Delete List' class="fa fa-times pull-right"></span>
    </a>
    <a href='' class="list-group-item">
        My Second List
        <span title='Delete List'  class="fa fa-times pull-right"></span>
    </a>
    <a href='' class="list-group-item">
        My Third List
        <span title='Delete List'  class="fa fa-times pull-right"></span>
    </a>
  </div>
</div>
